*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  height: 400vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 6px;
  height: 60vh;
}

/* Header Styling and others ...... */
#header {
  width: 100%;
}

#header #top-header {
  height: 3.8rem;
  background-color: #eeeeee;
  padding: 0 2em;
}

@media (max-width: 767px) {
  #header #top-header {
    height: 7.25rem;
  }
}

#header-contact, #header-links, #header-discount, #header-icons, #header-shop {
  position: relative;
  height: 100%;
  width: 35rem;
}

#header-contact {
  justify-content: flex-start;
}

#header-contact > * .header-text:first-of-type {
  margin-right: 1em;
}

#header-discount {
  justify-content: center;
}

#header-links {
  justify-content: flex-end;
}

#header-links > * {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

#header-links > * > .dropdown__menu {
  background-color: white;
  border-radius: 3px;
  border: 0.15em solid #eeeeee;
  box-shadow: 0px 2px 3px #e4e4e4;
  position: absolute;
  top: 120%;
  width: 160px;
}

#header-links > *:hover > .dropdown__menu {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  top: 95%;
}

#header-links > * > .header-text:first-of-type {
  margin-left: 1em;
}

#header-links #social-dropdown {
  left: -25%;
  height: 50px;
  line-height: 50px;
  gap: 1.5em;
  flex-direction: row;
  box-shadow: 0px 2px 3px #e4e4e4;
}

#header-links #social-dropdown .social-item {
  width: 30px;
  height: 28px;
  border: 0.015rem solid #9c9c9c;
  border-radius: 3px;
  display: grid;
  place-items: center;
  transition: 0.4s;
}

#header-links #social-dropdown .social-item i {
  font-size: 1.4rem;
  color: #646464;
  cursor: pointer;
  transition: 0.4s;
}

#header-links #social-dropdown .social-item:hover {
  background-color: #1f1f1f;
}

#header-links #social-dropdown .social-item:hover > i {
  color: #eeeeee;
}

#header-links #account-dropdown {
  left: -25%;
}

#header-links #account-dropdown .dropdown__item {
  line-height: 35px;
  height: 35px;
  width: 100%;
}

#header-links #language-dropdown {
  left: -60%;
}

#header-links #language-dropdown .dropdown__item {
  line-height: 35px;
  height: 35px;
  width: 100%;
}

#header-links #language-dropdown img {
  width: 18px;
  height: 12px;
  margin-right: 0.5rem;
  object-fit: cover;
  vertical-align: baseline;
}

#header .header-text {
  color: #1f1f1f;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.25rem;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}

#header .header-text i {
  margin-right: 0.3em;
}

#header .header-text span {
  color: #ff1010;
}

#header .header-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.28rem;
  margin: 0;
  padding: 0;
  color: #1f1f1f;
}

#header #navbar-header {
  width: 100%;
  height: 6rem;
  padding: 0 1.2em;
  box-shadow: 0px 2px 3px #e4e4e4;
}

#header-icons {
  padding-left: 0.5em;
  flex: 0 1 18%;
  gap: 1.5rem;
}

@media (max-width: 1199px) {
  #header-icons {
    display: none;
  }
}

#header-icons .h-icon {
  font-size: 1.55rem;
  cursor: pointer;
  transition: 200ms;
}

#header-icons .h-icon:hover {
  color: #01bad4;
}

#header-navToggler {
  flex: 0 1 18%;
  height: 100%;
}

#header-navToggler .navbar-toggler {
  border: none;
  background-color: transparent;
}

#header-navToggler .navbar-toggler .navbar-toggler-icon {
  display: block;
  width: 30px;
  height: 16px;
  background-image: url(../images/logo/nav-bar-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

#header-navBar {
  height: 100%;
}

#header-navBar .navbar__brand {
  text-align: center;
  display: grid;
  place-items: center;
}

#header-navBar .navbar__brand:not(.nav__link) {
  margin-left: 2.8rem;
}

#header-navBar .navbar__brand img {
  object-fit: contain;
  width: 100%;
}

#header-navBar .navbar__brand #navbar-tab,
#header-navBar .navbar__brand #navbar-main {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

#header-shop {
  flex: 0 1 18%;
  height: 100%;
}

#header-shop a.shop-icon {
  margin: 0 1em;
  position: relative;
}

#header-shop a.shop-icon .fal {
  font-size: 2.1rem;
  color: #7e7e7e;
}

#header-shop a.shop-icon .counter {
  display: inline-block;
  color: white;
  background-color: black;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -8px;
  vertical-align: middle;
}

.nav {
  width: 100%;
  height: 100%;
  list-style: none;
  gap: 1.5em;
}

.nav__item {
  width: fit-content;
  height: 100%;
  margin: 0 1.2rem;
  position: relative;
}

.nav__item:last-child > a {
  color: #ff1010;
}

.nav__item:hover .dropdown, .nav__item:hover .dropdown__menu.nav__dropdown {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  top: 95%;
}

.nav__link {
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  height: inherit;
  color: #1f1f1f;
  opacity: 1;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  position: relative;
}

.nav__link span {
  left: 100%;
  top: -50%;
}

.nav__link span,
.nav__link + .nav__dropdown > .dropdown__item span {
  position: absolute;
  font-size: 0.9rem;
  height: 16px;
  width: 35px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0.8em;
  color: #eeeeee !important;
}

.nav__link span.new,
.nav__link + .nav__dropdown > .dropdown__item span.new {
  background-color: #01bad4;
}

.nav__link span.sale,
.nav__link + .nav__dropdown > .dropdown__item span.sale {
  background-color: #ffa800;
}

.nav__link span.hot,
.nav__link + .nav__dropdown > .dropdown__item span.hot {
  background-color: #ff1010;
}

.dropdown {
  position: absolute;
  left: -20px;
  top: 120%;
  box-shadow: 0px 2px 3px #e4e4e4;
}

.dropdown .dropdown__item {
  text-align: left;
  height: 45px;
  line-height: 45px;
  position: relative;
  box-shadow: none;
}

.dropdown .dropdown__item:not(:last-child) {
  border-bottom: 0.15em solid #eeeeee !important;
}

.dropdown .dropdown__item span {
  top: 20%;
  left: 82%;
}

.dropdown#home-dropdown, .dropdown#product-dropdown {
  width: 54rem;
}

.dropdown#home-dropdown .nav__dropdown, .dropdown#product-dropdown .nav__dropdown {
  width: 45%;
  height: 100%;
}

.dropdown#page-dropdown {
  width: 26.5rem;
  transform: translateX(-7%);
}

.dropdown#page-dropdown .dropdown__item {
  width: 100%;
  padding: 0 1.5rem;
}

.dropdown {
  background-color: #fff;
  box-shadow: 0px 2px 3px #e4e4e4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2.2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  border: 0.1em solid #eeeeee;
}

.dropdown__menu {
  height: 100%;
  padding: .8em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 150;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.dropdown__item {
  width: 100%;
  vertical-align: middle;
  text-align: left;
}

.dropdown__item:not(:last-child) {
  border-bottom: 0.2em solid #eeeeee;
}

.flex {
  display: flex;
  align-items: center;
}

.flex_js_c {
  justify-content: center;
}

.flex_js_sb {
  justify-content: space-between;
}

.flex_js_se {
  justify-content: space-evenly;
}

.flex_js_s {
  justify-content: flex-start;
}

.flex_js_e {
  justify-content: flex-end;
}

.flex_dr_r {
  flex-direction: row;
}

.flex_dr_c {
  flex-direction: column;
}

.flex_wrap {
  flex-wrap: wrap;
}

.link {
  cursor: pointer;
  color: #1f1f1f;
  text-decoration: none;
}

.link:hover {
  color: #01bad4;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .hide__screen {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .show__screen {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hide__tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .stack__mobile {
    width: 100% !important;
    justify-content: center !important;
  }
}

@media (max-width: 767px) {
  .flex__mobile {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .show__mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hide__mobile {
    display: none !important;
  }
}
