*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  width: 95vw;
  height: 400vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* Header Styling and others ...... */
#header {
  width: 99.7vw;
}

#header #top-header {
  height: 3.8rem;
  background-color: #eeeeee;
  padding: 0 1em;
}

@media (max-width: 767px) {
  #header #top-header {
    height: 7.25rem;
  }
}

#header-contact, #header-links, #header-discount, #header-icons, #header-shop {
  position: relative;
  height: 100%;
  width: 35rem;
}

#header-contact {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#header-contact > * .header-text:first-of-type {
  margin-right: 1em;
}

#header-discount {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header-links > * {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-links > * > .header-text:first-of-type {
  margin-left: 1em;
}

#header-links #social-dropdown {
  width: 150px;
  height: 50px;
  gap: 1.2em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header-links #social-dropdown .social-item {
  width: 30px;
  height: 28px;
  border: 0.015rem solid #9c9c9c;
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#header-links #social-dropdown .social-item i {
  font-size: 1.4rem;
  color: #646464;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#header-links #social-dropdown .social-item:hover {
  background-color: #1f1f1f;
}

#header-links #social-dropdown .social-item:hover > i {
  color: #eeeeee;
}

#header-links #language-dropdown {
  width: 130px;
}

#header-links #language-dropdown img {
  width: 18px;
  height: 12px;
  margin-right: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: baseline;
}

#header-links #account-dropdown {
  width: 150px;
}

#header .header-text {
  font-size: 1.25rem;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}

#header .header-text i {
  margin-right: 0.3em;
}

#header .header-text span {
  color: #ff1010;
}

#header #navbar-header {
  width: 100%;
  height: 6rem;
  padding: 0 1.2em;
  -webkit-box-shadow: 0px 2px 3px #e4e4e4;
          box-shadow: 0px 2px 3px #e4e4e4;
}

#header-icons {
  padding-left: .5em;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  gap: 1.5rem;
}

@media (max-width: 1199px) {
  #header-icons {
    display: none;
  }
}

#header-icons .h-icon {
  font-size: 1.55rem;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#header-icons .h-icon:hover {
  color: #01bad4;
}

#header-navToggler {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  height: 100%;
}

#header-navToggler .navbar-toggler {
  border: none;
  background-color: transparent;
}

#header-navToggler .navbar-toggler .navbar-toggler-icon {
  display: block;
  width: 30px;
  height: 16px;
  background-image: url(../images/logo/nav-bar-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

#header-navBar #navbar-tab {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

#header-navBar #navbar-tab img {
  -o-object-fit: cover;
     object-fit: cover;
}

#header-navBar #navbar-main {
  height: 100%;
  width: 100%;
}

#header-navBar #navbar-main .navbar__brand {
  margin-right: 14%;
}

#header-shop {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18%;
          flex: 0 1 18%;
  height: 100%;
}

#header-shop a.shop-icon {
  margin: 0 1em;
  position: relative;
}

#header-shop a.shop-icon .fal {
  font-size: 2.1rem;
  color: #7e7e7e;
}

#header-shop a.shop-icon .counter {
  display: inline-block;
  color: white;
  background-color: black;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -8px;
  vertical-align: middle;
}

.hero_img {
  max-width: 100%;
}

.btn-round {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7e7e7e;
}

.nav {
  width: 100%;
  height: 100%;
  list-style: none;
  gap: 1.5em;
}

.nav__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: 0 1.2rem;
  line-height: calc(49.48px - 14px);
  vertical-align: middle;
}

.nav__item:last-child > a {
  color: #ff1010;
}

.nav__item:hover > .nav__dropdown > .dropdown__menu {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.nav__item .nav_link + .nav__dropdown {
  width: 20rem;
}

.nav__item .nav_link + .nav__dropdown .dropdown__menu {
  width: 45%;
  height: 40rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__link {
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  height: inherit;
  color: #1f1f1f;
  opacity: 1;
  position: relative;
}

.nav__link span {
  position: absolute;
  left: 100%;
  top: -50%;
  font-size: 0.9rem;
  height: 16px;
  width: 35px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0.8em;
  color: #eeeeee;
}

.nav__link span.new {
  background-color: #01bad4;
}

.nav__link span.sale {
  background-color: #ffa800;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_js_c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_js_sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_js_se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex_js_s {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex_js_e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex_dr_r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex_dr_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link {
  cursor: pointer;
  color: #1f1f1f;
  text-decoration: none;
}

.link:hover {
  color: #01bad4;
  text-decoration: none;
}

.dropdown__menu {
  z-index: 150;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  -webkit-box-shadow: 0px 1px 3px #d1d1d1;
          box-shadow: 0px 1px 3px #d1d1d1;
  background-color: white;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown__menu .dropdown__item {
  width: 100%;
  height: 34px;
  line-height: 34px;
  padding: 0 1.5rem;
  vertical-align: middle;
  -webkit-box-shadow: 0px 1px 3px #d1d1d1;
          box-shadow: 0px 1px 3px #d1d1d1;
}

.header-text:hover + .dropdown__menu {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  top: 85%;
}

@media (max-width: 1199px) {
  .hide__screen {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .show__screen {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hide__tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .stack__mobile {
    width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media (max-width: 767px) {
  .flex__mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  .show__mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hide__mobile {
    display: none !important;
  }
}
/*# sourceMappingURL=main.css.map */