/* Header Styling and others ...... */
// $seleco:
// $headerTextFirstType: selector-append(".header-text", ":first-child");
// $vertical_spacing: selector-nest("*", $headerTextFirstType);
$spacing: 1em;

#header {
  width: 99.7vw;
  #top-header {
    height: 3.8rem;
    background-color: $color-snow;
    padding: 0 1em;
    @include breakpoint-down(small) {
      height: 7.25rem;
    }
  }

  &-contact,
  &-links,
  &-discount,
  &-icons,
  &-shop {
    position: relative;
    height: 100%;
    width: 35rem;
  }

  &-contact {
    justify-content: flex-start;
    > * .header-text:first-of-type {
      margin-right: $spacing;
    }
  }

  &-discount {
    justify-content: center;
  }

  &-links {
    justify-content: flex-end;
    >  *{
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }
    > * > .header-text:first-of-type {
      margin-left: $spacing;
    }
    #social-dropdown {
      width: 150px;
      height: 50px;
      gap: 1.2em;
      flex-direction: row;
      .social-item {
        width: 30px;
        height: 28px;
        border: 0.015rem solid rgb(156, 156, 156);
        border-radius: 3px;
        display: grid;
        place-items: center;
        transition: 0.4s;

        i {
          font-size: 1.4rem;
          color: $color-smoky;
          cursor: pointer;
          transition: 0.4s;
        }

        &:hover {
          background-color: $color-dark;
          > i {
            color: $color-snow;
          }
        }
      }
    }

    #language-dropdown{
      width: 130px;

      img {
        width: 18px;
        height: 12px;
        margin-right: 0.5rem;
        object-fit: cover;
        vertical-align: baseline;
      }
    }

    #account-dropdown{
        // width: 180px;
        width: 150px;
    }
  }
  .header-text {
    font-size: 1.25rem;
    opacity: 0.8;
    padding: 0;
    margin: 0;

    i {
      margin-right: 0.3em;
    }

    span {
      color: $color-ruby;
    }
  }

  #navbar-header {
    width: 100%;
    height: 6rem;
    padding: 0 1.2em;
    box-shadow: 0px 2px 3px rgb(228, 228, 228);
  }

  &-icons {
    padding-left:.5em ;
    flex: 0 1 18%;
    gap: 1.5rem;
    @include breakpoint-down("large") {
      display: none;
    }
    .h-icon {
      font-size: 1.55rem;
      cursor: pointer;
      transition: 200ms;
      &:hover {
        color: $color-navy;
      }
    }
  }
  &-navToggler {
    flex: 0 1 18%;
    height: 100%;
    .navbar-toggler {
      border: none;
      background-color: transparent;
      .navbar-toggler-icon {
        display: block;
        width: 30px;
        height: 16px;
        background-image: url(../images/logo/nav-bar-icon.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
      }
    }
  }
  &-navBar {
    #navbar-tab{
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;

      img{
        object-fit: cover;
      }
    }
    
    #navbar-main {
      height: 100%;
      width: 100%;

      .navbar__brand {
        margin-right: 14%;
      }
    }
  }
  &-shop {
    flex: 0 1 18%;
    height: 100%;
    // a.account-btn-mob{
    //   @include breakpoint-down(small){
    //     display: block;
    //   }
    a.shop-icon {
      margin: 0 1em;
      position: relative;

      .fal {
        font-size: 2.1rem;
        color: #7e7e7e;
      }

      .counter {
        display: inline-block;
        color: white;
        background-color: black;
        width: 20px;
        height: 20px;
        line-height: 22px;
        text-align: center;
        font-size: 1.3rem;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        right: -8px;
        vertical-align: middle;
      }
    }
  }
}
.hero_img {
  max-width: 100%;
}

.btn-round {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7e7e7e;
}
.nav {
  width: 100%;
  height: 100%;
  list-style: none;
  gap: 1.5em;
  &__item {
    width: fit-content;
    height: 100%;
    margin: 0 1.2rem;
    line-height: calc(49.48px - 14px);
    vertical-align: middle;

    &:last-child > a {
      color: $color-ruby;
    }
    &:hover  > .nav__dropdown > .dropdown__menu{
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
    .nav_link + .nav__dropdown{
      width: 20rem;
      .dropdown__menu{
        width: 45%;
        height: 40rem;
        flex-wrap: wrap;
      }
    }
  }

  &__link {
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    height: inherit;
    color: $color-dark;
    opacity: 1;
    position: relative;
    span {
      position: absolute;
      left: 100%;
      top: -50%;
      font-size: 0.9rem;
      height: 16px;
      width: 35px;
      line-height: 16px;
      text-align: center;
      text-transform: capitalize;
      border-radius: 0.8em;
      color: $color-snow;
      &.new {
        background-color: $color-navy;
      }

      &.sale {
        background-color: $color-gold;
      }
    }
  }
}
