/* Header Styling and others ...... */
$dropdownSelector: selector-nest(
  "&:hover",
  ".dropdown , .dropdown__menu.nav__dropdown"
);
#header {
  width: 100%;
  // width: calc(100vw-10px);
  #top-header {
    height: 3.8rem;
    background-color: $color-snow;
    padding: 0 2em;
    @include breakpoint-down(small) {
      height: 7.25rem;
    }
  }

  &-contact,
  &-links,
  &-discount,
  &-icons,
  &-shop {
    position: relative;
    height: 100%;
    width: 35rem;
  }

  &-contact {
    justify-content: flex-start;
    > * .header-text:first-of-type {
      margin-right: 1em;
    }
  }

  &-discount {
    justify-content: center;
  }

  &-links {
    justify-content: flex-end;
    > * {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      > .dropdown__menu {
        background-color: white;
        border-radius: 3px;
        border: 0.15em solid $color-snow;
        box-shadow: $box-snowShadow;
        position: absolute;
        top: 120%;
        width: 160px;
      }
      &:hover > .dropdown__menu {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
        top: 95%;
      }
      > .header-text:first-of-type {
        margin-left: $spacing;
      }
    }

    #social-dropdown {
      left: -25%;
      height: 50px;
      line-height: 50px;
      gap: 1.5em;
      flex-direction: row;
      box-shadow: $box-snowShadow;
      .social-item {
        width: 30px;
        height: 28px;
        border: 0.015rem solid rgb(156, 156, 156);
        border-radius: 3px;
        display: grid;
        place-items: center;
        transition: 0.4s;
        i {
          font-size: 1.4rem;
          color: $color-smoky;
          cursor: pointer;
          transition: 0.4s;
        }
        &:hover {
          background-color: $color-dark;
          > i {
            color: $color-snow;
          }
        }
      }
    }

    #account-dropdown {
      left: -25%;
      .dropdown__item {
        line-height: 35px;
        height: 35px;
        width: 100%;
      }
    }
    #language-dropdown {
      left: -60%;
      .dropdown__item {
        line-height: 35px;
        height: 35px;
        width: 100%;
      }
      img {
        width: 18px;
        height: 12px;
        margin-right: 0.5rem;
        object-fit: cover;
        vertical-align: baseline;
      }
    }
  }
  .header-text {
    color: $color-dark;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.25rem;
    opacity: 0.8;
    padding: 0;
    margin: 0;
    i {
      margin-right: 0.3em;
    }
    span {
      color: $color-ruby;
    }
  }
  .header-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.28rem;
    margin: 0;
    padding: 0;
    color: $color-dark;
  }
  #navbar-header {
    width: 100%;
    height: 6rem;
    padding: 0 1.2em;
    box-shadow: $box-snowShadow;
  }

  &-icons {
    padding-left: 0.5em;
    flex: 0 1 18%;
    gap: 1.5rem;
    @include breakpoint-down("large") {
      display: none;
    }
    .h-icon {
      font-size: 1.55rem;
      cursor: pointer;
      transition: 200ms;
      &:hover {
        color: $color-navy;
      }
    }
  }
  &-navToggler {
    flex: 0 1 18%;
    height: 100%;
    .navbar-toggler {
      border: none;
      background-color: transparent;
      .navbar-toggler-icon {
        display: block;
        width: 30px;
        height: 16px;
        background-image: url(../images/logo/nav-bar-icon.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
      }
    }
  }
  &-navBar {
    height: 100%;
    .navbar__brand {
      text-align: center;
      display: grid;
      place-items: center;
      &:not(.nav__link) {
        margin-left: 2.8rem;
      }
      img {
        object-fit: contain;
        width: 100%;
      }
      #navbar-tab,
      #navbar-main {
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
      }
    }
  }
  &-shop {
    flex: 0 1 18%;
    height: 100%;
    // a.account-btn-mob{
    //   @include breakpoint-down(small){
    //     display: block;
    //   }
    a.shop-icon {
      margin: 0 1em;
      position: relative;

      .fal {
        font-size: 2.1rem;
        color: #7e7e7e;
      }

      .counter {
        display: inline-block;
        color: white;
        background-color: black;
        width: 20px;
        height: 20px;
        line-height: 22px;
        text-align: center;
        font-size: 1.3rem;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        right: -8px;
        vertical-align: middle;
      }
    }
  }
}
.nav {
  width: 100%;
  height: 100%;
  list-style: none;
  gap: 1.5em;
  &__item {
    width: fit-content;
    height: 100%;
    margin: 0 1.2rem;
    position: relative;
    &:last-child > a {
      color: $color-ruby;
    }
    #{$dropdownSelector} {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      top: 95%;
    }
  }

  &__link {
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    height: inherit;
    color: $color-dark;
    opacity: 1;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    position: relative;
    span {
      left: 100%;
      top: -50%;
    }
    span,
    + .nav__dropdown > .dropdown__item span {
      position: absolute;
      font-size: 0.9rem;
      height: 16px;
      width: 35px;
      line-height: 16px;
      text-align: center;
      text-transform: capitalize;
      border-radius: 0.8em;
      color: $color-snow !important;
      &.new {
        background-color: $color-navy;
      }

      &.sale {
        background-color: $color-gold;
      }
      &.hot {
        background-color: $color-ruby;
      }
    }
  }
}

.dropdown {
  position: absolute;
  left: -20px;
  top: 120%;
  box-shadow: $box-snowShadow;
  .dropdown__item {
    text-align: left;
    height: 45px;
    line-height: 45px;
    // vertical-align: middle;
    position: relative;
    box-shadow: none;
    &:not(:last-child) {
      border-bottom: 0.15em solid $color-snow !important;
    }
    span {
      top: 20%;
      left: 82%;
    }
  }
  &#home-dropdown,
  &#product-dropdown {
    width: 54rem;
    .nav__dropdown {
      width: 45%;
      height: 100%;
    }
  }
  &#page-dropdown {
    width: 26.5rem;
    transform: translateX(-7%);
    .dropdown__item {
      width: 100%;
      padding: 0 1.5rem;
    }
  }
}
