// Root css styling with html and body styles

$color-dark: #1f1f1f;
$color-snow: #eeeeee;
$color-ruby: #ff1010;
$color-gold: #ffa800;
$color-navy: #01bad4;
$color-smoky: #646464;
$spacing: 1em;
$box-snowShadow: 0px 2px 3px rgb(228, 228, 228);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  height: 400vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 0.7vw;
}
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #929292;
  border-radius: 6px;
  height: 60vh;
}
