// Root css styling with html and body styles

$color-dark:#1f1f1f;
$color-snow:#eeeeee;
$color-ruby:#ff1010;
$color-gold:#ffa800;
$color-navy:#01bad4;
$color-smoky:#646464;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  width: 95vw;
  height: 400vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
