@import "_root";
@import "_media";
@import "_header";
@import "_dropdown";
@import "_footer";
.flex {
  display: flex;
  align-items: center;
  &_js_c {
    justify-content: center;
  }
  &_js_sb {
    justify-content: space-between;
  }
  &_js_se {
    justify-content: space-evenly;
  }
  &_js_s {
    justify-content: flex-start;
  }
  &_js_e {
    justify-content: flex-end;
  }
  &_dr_r {
    flex-direction: row;
  }
  &_dr_c {
    flex-direction: column;
  }
  &_wrap{
    flex-wrap: wrap;
  }
}

.link {
  cursor: pointer;
  color: $color-dark;
  text-decoration: none;
  &:hover {
    color: $color-navy;
    text-decoration: none;
  }
}


.hide__screen {
  @include breakpoint-down(large) {
    display: none !important;
  }
}
.show__screen {
  @include breakpoint-up(x-large) {
    display: none !important;
  }
}
.hide__tablet {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}
.stack__mobile {
  @include breakpoint-down(small) {
    width: 100% !important;
    justify-content: center !important;
  }
}
.flex__mobile {
  @include breakpoint-down(small) {
    flex-direction: column;
  }
}
.show__mobile {
  @include breakpoint-up(medium) {
    display: none !important;
  }
}
.hide__mobile {
  @include breakpoint-down(small) {
    display: none !important;
  }
}
