@import "_root";
@import "_media";
@import "_header";
@import "_footer";
.flex {
  display: flex;
  align-items: center;
  &_js_c {
    justify-content: center;
  }
  &_js_sb {
    justify-content: space-between;
  }
  &_js_se {
    justify-content: space-evenly;
  }
  &_js_s {
    justify-content: flex-start;
  }
  &_js_e {
    justify-content: flex-end;
  }
  &_dr_r {
    flex-direction: row;
  }
  &_dr_c {
    flex-direction: column;
  }
}

.link {
  cursor: pointer;
  color: $color-dark;
  text-decoration: none;
  &:hover {
    color: $color-navy;
    text-decoration: none;
  }
}

.dropdown__menu {
  z-index: 150;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  box-shadow: 0px 1px 3px rgb(209, 209, 209);
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  flex-direction: column;
  .dropdown__item {
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0 1.5rem;
    vertical-align: middle;
    box-shadow: 0px 1px 3px rgb(209, 209, 209);
  }
}
.header-text:hover + .dropdown__menu {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  top: 85%;
}
.hide__screen {
  @include breakpoint-down(large) {
    display: none !important;
  }
}
.show__screen {
  @include breakpoint-up(x-large) {
    display: none !important;
  }
}
.hide__tablet {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}
.stack__mobile {
  @include breakpoint-down(small) {
    width: 100% !important;
    justify-content: center !important;
  }
}
.flex__mobile {
  @include breakpoint-down(small) {
    flex-direction: column;
  }
}
.show__mobile {
  @include breakpoint-up(medium) {
    display: none !important;
  }
}
.hide__mobile{
  @include breakpoint-down(small){
    display: none !important;
  }
}
