// 600/ 1960
.slide_hero{
    width: 1000px;
    div{
        width: 100%;
        padding-top: 30.6%;
        background: url(../images/banner/slider1.jpg) no-repeat center;
        background-size: cover;
    }

}
