<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="banner.css" />
  </head>

  <body>
    <div class="banner__container">
      <div class="banner__slider">
        <ul class="banner__slides">
          <li class="banner">
            <img
              src="../../claue/images/banner/slider1.jpg"
              alt=""
              class="banner__image"
            />
          </li>
          <li class="banner">
            <img
              src="../../claue/images/banner/slider2.jpg"
              alt=""
              class="banner__image"
            />
          </li>
          <li class="banner">
            <img
              src="../../claue/images/banner/slider3.jpg"
              alt=""
              class="banner__image"
            />
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
