<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="trends.css">
  </head>

  <body>
    <div class="trend__item">
      <div class="trend__item-main">
        <a href="" class="trend__item-image">
          <img src="../../images/trends/T-1.jpg" alt="" />
        </a>
      </div>
      <div class="trend__item-info">
        <p class="trend__item-name">Item Name</p>
        <p class="trend__item-price">$45.00</p>
      </div>
    </div>
  </body>
</html>
