<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section id="s3">
      <div id="trends">
        <header id="trends_header">
          <h3 class="main_title">Trending</h3>
          <p class="main_subtitle">Top view in the week</p>
        </header>
        <div id="trends_col">
          <article id="trends_products">
            <div class="trends_wrapper">
              <div class="trend_item">
                
              </div>
              <div class="trend_item">
                <div class="item_main">
                  <a href="" class="item_image">
                    <img src="images/trends/T-2.jpg" alt="" />
                  </a>
                </div>
                <div class="item_info">
                  <p class="item_name">Item Name</p>
                  <p class="item_price">$45.00</p>
                </div>
              </div>
              <div class="trend_item">
                <div class="item_main">
                  <a href="" class="item_image">
                    <img src="images/trends/T-3.jpg" alt="" />
                  </a>
                </div>
                <div class="item_info">
                  <p class="item_name">Item Name</p>
                  <p class="item_price">$45.00</p>
                </div>
              </div>
              <div class="trend_item">
                <div class="item_main">
                  <a href="" class="item_image">
                    <img src="images/trends/T-4.jpg" alt="" />
                  </a>
                </div>
                <div class="item_info">
                  <p class="item_name">Item Name</p>
                  <p class="item_price">$45.00</p>
                </div>
              </div>
            </div>
            <div class="trends_controls">
              <button class="left-control">
                <i class="fas fa-angle-left"></i>
              </button>
              <button class="right-control">
                <i class="fas fa-angle-right"></i>
              </button>
            </div>
          </article>
          <article id="trends_bottom">
            <div></div>
            <div></div>
            <div></div>
          </article>
        </div>
      </div>
    </section>
  </body>
</html>
