/* ..............BANNER............. */

#banner {
  position: relative;
  display: grid;
  place-items: center;
}
.banner__slider {
  width: 100vw;
  background-color: #f6f6f8;
  position: relative;
}
.banner__sliderContainer {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
.banner__item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.banner__itemImage {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100%;
  padding-top: 48%;
}
.banner__itemCaption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner__item:nth-child(2) .banner__itemCaption{
  left: 50%;
}
.banner__item:nth-child(3) .banner__itemCaption{
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}
.banner__item:nth-child(3) .banner__itemCaption h1{
  font-size: 6rem;
}
.banner__item:nth-child(3) .banner__itemCaption h3{
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.banner__item:nth-child(3) .banner__itemCaption .btn-shop{
  line-height: 2;
  margin-top: 1em;
}
.banner__itemCaption h3{
  font-size: 1.8rem;
  color: #8d8d8d;
  font-family: 'Libre Baskerville';
  text-transform: capitalize;
}

.banner__itemCaption h1{
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-dark);
}

.banner__controls {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}
/* .............CATEGORIES.............. */
#s1 {
  width: 100vw;
  display: grid;
  place-items: center;
}
#s2,
#s3 {
  margin-top: 5rem;
  width: 100vw;
  display: grid;
  place-items: center;
}

#main-categories {
  height: 66rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(calc(50%-4em), 1fr));
  grid-gap: 4em;
  align-items: center;
}

.category,
.category_item {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  height: 100%;
}

.category:nth-child(2) {
  grid-row: 1/3;
  grid-column: 2/3;
}

.category_item img {
  vertical-align: top;
  min-height: 100%;
}

.category button {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%) translateY(-5%);
  vertical-align: middle;
  width: 15rem;
  height: 3.8rem;
  font-size: 1.45rem;
  font-weight: 700;
  text-align: center;
  background-color: white;
  color: var(--color-dark);
  border: none;
  outline: none;
  cursor: pointer;
}

.category:hover > a > img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.category button:hover,
.category button:focus {
  background-color: var(--color-navy);
  color: white;
  transition: 0.5s ease-in-out;
}

/* ...........TRENDS................. */

.trend{
  display: flex;
  flex-direction: column;
}
.trend__header{
  text-align: center;
}

.trend__itemGrid{
  
}